@media (min-width: 0px) and (max-width: 767px) {
  /* .navbar-links {
    display: none;
  } */

  body {
    overflow-x: hidden;
  }

  .navbar-links {
    position: absolute;
    height: 50vh;
    background-color: red;
    top: 10vh;
    inset: 20% 10% 10% 30%;
    z-index: 3;
    flex-direction: column;
    gap: 2rem;

    background-color: rgb(255, 255, 255);
    top: 10vh;
    height: 50vh;
    inset: 12% 10% 30% 10%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* filter: drop-shadow(0px 200px 60px hsl(0, 0%, 85%)); */
    transform: translateX(-120%);
    opacity: 0;
    transition: 0.5s ease;
  }

  .nav-active {
    transform: translateX(0%);
    opacity: 1;
  }

  .button {
    display: none;
  }

  nav {
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
  }

  .burger {
    display: block;
  }

  .burger div {
    transition: 0.5s ease;
  }

  .hero-paragraph {
    width: 90%;
    margin: 0 auto 1rem auto;
  }
  h1 {
    font-size: 3rem;
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media (min-width: 0px) and (max-width: 1023px) {
  .button {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  nav {
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 768px) {
  .section-one {
    flex-direction: row-reverse;
  }

  .hero-text {
    text-align: left;
  }

  .hero-image {
    width: 95%;
  }
  nav {
    margin-bottom: 4rem;
  }
  .simplify {
    padding: 3rem 3rem;
  }

  .simplify-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }

  h4 {
    text-align: left;
    margin: 0;
    max-width: 50%;
  }

  #carousel__cont {
    margin-right: 1rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .hero-paragraph {
    margin-bottom: 1.5rem;
  }

  nav {
    margin-bottom: 5rem;
  }

  .main-container {
    display: flex;
    gap: 2rem;
    padding: 0;
    width: 90%;
    margin: 0 auto;
  }

  .main-text {
    text-align: left;
  }

  .main-text2 {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  .margin-bottom2 {
    margin-bottom: 2.5rem;
  }

  #carousel__cont {
    margin-right: 1rem;
  }

  footer {
    padding: 2rem 2rem;
  }

  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 3rem;
  }

  .footer__logo {
    padding-bottom: 4rem;
  }

  .social__media__logo {
    display: flex;
    flex-direction: column-reverse;
  }

  form {
    margin-bottom: 0;
  }

  .footer__links__cont {
    gap: 3rem;
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1084px) {
  h2 {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .carousel__div {
    grid-template-columns: 1fr 1fr;
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }
  /* div,
  .hero-image {
    max-width: 80%;
  } */
}

@media (min-width: 1201px) {
  .carousel__div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* gap: 1rem; */
  }

  .footer__links__cont {
    gap: 6rem;
    margin-bottom: 0;
  }
}

@media (min-width: 1900px) {
  .hero-image {
    max-width: 45%;
    max-width: 700px;
  }
  .hero-text {
    max-width: 1000px;
  }
}

@media (min-width: 768px) and (max-width: 850px) {
  nav {
    padding-left: 2rem;
    padding-right: 1rem;
    align-items: center;
  }

  .logo {
    margin-right: 1rem;
  }

  .navbar-links a {
    font-size: 0.9rem;
  }
}

.hero-text {
  margin: 0 auto;
}

.hero-image {
  margin: 0 auto;
}
